<div class="row d-flex justify-content-center ml-5 mr-5">
  <h1>Agendamento confirmado</h1>
</div>
<div class="row d-flex justify-content-center ml-5 mr-5">
     <fieldset>
      <div class="row">
        <div class="col-sm-12">
          <label class="col-form-label">Nome:</label>&nbsp;
          <label class="col-form-label">{{nome}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="col-form-label">Cpf:</label>&nbsp;
          <label class="col-form-label">{{cpf}}</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label class="col-form-label">Data da próxima dose:</label>&nbsp;
          <label class="col-form-label">{{dataProximo}}</label>
        </div>
      </div>
    </fieldset>

</div>
<div class="row d-flex justify-content-center ml-5 mr-5 pt-5">
  <button class="btn btn-sm btn-outline-secondary mr-1" (click)="voltar()">Voltar</button>
</div>
