<app-titulo-agendamento></app-titulo-agendamento>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="salvarDataVacinacao()">
    <fieldset class="border p-2">
      <legend class="w-auto">Data da Vacinação</legend>
      <div class="form-group row mt-2">
        <div class="col-sm-5">
          <select class="form-control" id="sltAgenda" formControlName="agenda" [(ngModel)]="agenda"
            [ngClass]="{ 'is-invalid': submitted && f.agenda.errors }">
            <option *ngFor="let ag of agendas" [value]="ag.id">{{ag.nomeFormatado}}</option>
          </select>
          <div *ngIf="submitted && f.agenda.errors" class="invalid-feedback">
            <div *ngIf="f.agenda.errors">Data da Vacinação é obrigatório</div>
          </div>
        </div>
      </div>
    </fieldset>
    <app-botoes-agendamento></app-botoes-agendamento>
</form>
</div>
