<fieldset>
  <legend>{{titulo}}</legend>

  <form [formGroup]="registerForm" (ngSubmit)="enviar()" class="mt-3 mb-3">
    <div class="row">
      <p>Uma nova senha será enviada para o e-mail abaixo:</p>
    </div>
    <div class="form-row">
      <div class="form-group row mt-2">
        <label for="txtEmail" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="txtEmail" formControlName="email" placeholder="Digite o e-mail do usuário"
          [(ngModel)]="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  >
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">E-mail é obrigatório</div>
            <div *ngIf="f.email.errors.email">O e-mail deve ser um endereço de e-mail válido</div>
        </div>
        </div>
      </div>
    </div>

    <button class="btn btn-sm btn-outline-secondary" (click)="cancelar()">Cancelar</button>&nbsp;
    <button class="btn btn-sm btn-outline-primary">Enviar</button>
  </form>
</fieldset>
